body{
    background-color: #64dfdf; 
}
h1{
    font-size: 36px;
    color: #000000;
    border: 2px solid;
    text-shadow: -2px 2px #495057;
    animation: animate__swing;
    animation-duration: 2s;
}
p{
    font-size: 16px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul{
    padding-bottom: 50px;
}
